.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 40rem;
  display: flex;
  justify-content: center;
  background-color: #f3f4f6;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 20px;
}
.todo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.completed {
  text-decoration: line-through;
  color: #ff000052;
}
input {
  outline: none;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
}
input:focus {
  border: 1px solid blueviolet;
}
